<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>adminui</title>
</head>

<body>
<table width="347" height="174" border="1">
  <tr>
    <td><a href="verifyExpert">Verify Expert</a></td>
  </tr>
{#  <tr>#}
{#    <td><a href="verifyUser">Verify User</a></td>#}
{#  </tr>#}
  <tr>
    <td><a href="complaint">View Complaints &Send Reply</a></td>
  </tr>
  <tr>
    <td><a href="viewfeedback">Rating and review with Feedback</a></td>
  </tr>
  <tr>
    <td><a href="blockExpert">Block/Unblock Expert</a></td>
  </tr>
     <tr>
    <td><a href="blockUser">Block/Unblock User </a></td>
  </tr>
</table>
</body>
</html>
