{#<!DOCTYPE html>#}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Index - BizPage Bootstrap Template</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="/static/Admin_home/assets/img/favicon.png" rel="icon">
  <link href="/static/Admin_home/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/Admin_home/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/Admin_home/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/Admin_home/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/static/Admin_home/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/static/Admin_home/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="/static/Admin_home/assets/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: BizPage
  * Template URL: https://bootstrapmade.com/bizpage-bootstrap-business-template/
  * Updated: Aug 07 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="index-page">

  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

      <a href="" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1 class="sitename">BUDGET BUDDY</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="/home" class="active">Home</a></li>
          <li><a href="/verifyExpert#about">Verify Expert</a></li>
          <li><a href="/complaint#about">Complaint</a></li>
          <li><a href="/viewfeedback#about">viewfeedback</a></li>
          <li><a href="/blockExpert#about">blockExpert</a></li>
          <li><a href="/blockUser#about">blockUser</a></li>
          <li><a href="/blockparent#about">block parent</a></li>
          <li><a href="/admin_changepassword#about">change password</a></li>
            <li><a href="/logout">logout</a></li>
            

{#          <li class="dropdown"><a href="#"><span>Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>#}
{#            <ul>#}
{#              <li><a href="#">Dropdown 1</a></li>#}
{#              <li class="dropdown"><a href="#"><span>Deep Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>#}
{#                <ul>#}
{#                  <li><a href="#">Deep Dropdown 1</a></li>#}
{#                  <li><a href="#">Deep Dropdown 2</a></li>#}
{#                  <li><a href="#">Deep Dropdown 3</a></li>#}
{#                  <li><a href="#">Deep Dropdown 4</a></li>#}
{#                  <li><a href="#">Deep Dropdown 5</a></li>#}
{#                </ul>#}
{#              </li>#}
{#              <li><a href="#">Dropdown 2</a></li>#}
{#              <li><a href="#">Dropdown 3</a></li>#}
{#              <li><a href="#">Dropdown 4</a></li>#}
{#            </ul>#}
{#          </li>#}

        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

    </div>
  </header>

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">

      <div id="hero-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

        <div class="carousel-item active">
          <img src="/static/Admin_home/assets/img/hero-carousel/hero-carousel-1.jpg" alt="">
          <div class="carousel-container">
{#            <h2>We are professional</h2>#}
{#            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>#}
{#            <a href="#featured-services" class="btn-get-started">Get Started</a>#}
          </div>
        </div><!-- End Carousel Item -->
{##}
{#        <div class="carousel-item">#}
{#          <img src="/static/Admin_home/assets/img/hero-carousel/hero-carousel-2.jpg" alt="">#}
{#          <div class="carousel-container">#}
{#            <h2>At vero eos et accusamus</h2>#}
{#            <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut.</p>#}
{#            <a href="#featured-services" class="btn-get-started">Get Started</a>#}
{#          </div>#}
{#        </div><!-- End Carousel Item -->#}
{##}
{#        <div class="carousel-item">#}
{#          <img src="/static/Admin_home/assets/img/hero-carousel/hero-carousel-3.jpg" alt="">#}
{#          <div class="carousel-container">#}
{#            <h2>Temporibus autem quibusdam</h2>#}
{#            <p>Beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt omnis iste natus error sit voluptatem accusantium.</p>#}
{#            <a href="#featured-services" class="btn-get-started">Get Started</a>#}
{#          </div>#}
{#        </div><!-- End Carousel Item -->#}
{##}
{#        <div class="carousel-item">#}
{#          <img src="/static/Admin_home/assets/img/hero-carousel/hero-carousel-4.jpg" alt="">#}
{#          <div class="carousel-container">#}
{#            <h2>Nam libero tempore</h2>#}
{#            <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum.</p>#}
{#            <a href="#featured-services" class="btn-get-started">Get Started</a>#}
{#          </div>#}
{#        </div><!-- End Carousel Item -->#}

{#        <div class="carousel-item">#}
{#          <img src="/static/Admin_home/assets/img/hero-carousel/hero-carousel-5.jpg" alt="">#}
{#          <div class="carousel-container">#}
{#            <h2>Magnam aliquam quaerat</h2>#}
{#            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>#}
{#            <a href="#featured-services" class="btn-get-started">Get Started</a>#}
{#          </div>#}
{#        </div><!-- End Carousel Item -->#}

        <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>

        <ol class="carousel-indicators"></ol>

      </div>

    </section><!-- /Hero Section -->


    <!-- About Section -->
    <section id="about" class="about section">


      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">

              {% block body %}
        {% endblock %}


      </div><!-- End Section Title -->


    </section><!-- /About Section -->



  </main>

  <footer id="footer" class="footer dark-background">

    <div class="container copyright text-center mt-4">
{#      <p>© <span>Copyright</span> <strong class="px-1 sitename">FincMent</strong> <span>All Rights Reserved</span></p>#}
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you've purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
{#        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>#}
      </div>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="/static/Admin_home/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/Admin_home/assets/vendor/php-email-form/validate.js"></script>
  <script src="/static/Admin_home/assets/vendor/aos/aos.js"></script>
  <script src="/static/Admin_home/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/static/Admin_home/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/static/Admin_home/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script src="/static/Admin_home/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/static/Admin_home/assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Main JS File -->
  <script src="/static/Admin_home/assets/js/main.js"></script>

</body>

</html>